**/.gitignore
**/*.bat
.git
basex-examples
basex-tests
basex-api
!basex-api/.classpath
!basex-api/etc
!basex-api/lib
!basex-api/license.txt
!basex-api/pom.xml
!basex-api/src/main/java
!basex-api/src/main/webapp/WEB-INF
basex-parent.iml
