<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5"
  metadata-complete="true">

  <display-name>BaseX Web</display-name>

  <!-- The following parameters may also be passed on as system properties: -->
  <context-param>
    <param-name>org.basex.user</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.password</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.dbpath</param-name>
    <param-value>../data</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.repopath</param-name>
    <param-value>../repo</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.restxqpath</param-name>
    <param-value>../restxq</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.inlinelimit</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.serverport</param-name>
    <param-value>9000</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.eventport</param-name>
    <param-value>9001</param-value>
  </context-param>

  <!-- Redirect errors -->
  <error-page>
    <error-code>403</error-code>
    <location>/restxq/error403</location>
  </error-page>
  <!-- Session timeout -->
  <session-config>
    <session-timeout>480</session-timeout>
  </session-config>

  <!-- Global session listener -->
  <listener>
    <listener-class>org.basex.http.SessionListener</listener-class>
  </listener>

  <!--  Mapping for static resources (may be restricted to a sub path) -->
  <servlet>
    <servlet-name>default</servlet-name>
    <init-param>
      <param-name>useFileMappedBuffer</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!--  REST Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>REST</servlet-name>
    <servlet-class>org.basex.http.rest.RESTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>REST</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!--  RESTXQ Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>RESTXQ</servlet-name>
    <servlet-class>org.basex.http.restxq.RestXqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RESTXQ</servlet-name>
    <url-pattern>/restxq/*</url-pattern>
  </servlet-mapping>
</web-app>
