body {
  padding       : 0;
  margin        : 0;
  background    : #FFFFFF;
  color         : #000000;
  font-family   : myriad web, arial, verdana, sans-serif;
  font-size     : 100%
}

#content {
  width         : 850px;
  margin-left   : 10px;
  margin-right  : auto;
  border        : 0px solid;
}

#header {
  margin        : 0px;
  padding-top   : 5px;  
  width         : 850px;
	height        : 105px;
  color         : #999999;
  background    : #FFFFFF;
}

#header img {
  margin-left   : 5px;
  border        : none;
}

#header p {
  background        : #FFFFFF;
  background-repeat : no-repeat;
  font-size         : 160%;
  color             : #aaaaaa;
  margin-top        : -26px;
  margin-left       : 140px;
}

#header input {
  margin-top : -17px; 
  text-align : right;  
}

#body {
  border-top : 1px solid #999999;
}

#body a {
  color           : #E00000;
  background      : #FFFFFF;
  text-decoration : none;
}

table {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

b {
	font-weight : bold;
  color       : #555555;
}

ol {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 24px;
}

ul {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 24px;
}

dd {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 12px;
}

dl {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#footer {
  text-align  : right;
  font-size   : 75%;
  color       : #999999;
  background  : #FFFFFF;
  border-top  : 1px solid #999999;
}

#footer a {
  color          : #999999;
  background        : #FFFFFF;
  text-decoration              : none;
}

#links {
  float    : left;
  width    : 140px;
  margin   : 5px;
}

#links a {
  color          : #E00000;
  background        : #FFFFFF;
  text-decoration      : none;
  font-size        : 120%;
}

#links p {
  color          : #999999;
  background        : #FFFFFF;
  font-size        : 85%;
}

#links .selected a {
	  font-weight    : bold;
}

#sublinks a
{
	font-size   : 95%;
	margin-left : 10px;
}	

#main {
  margin          	: 5px 5px 5px 150px;
  padding          	: 15px 15px 15px 25px;
  border-left       : 1px solid #999999;
  min-height        : 380px;
}

#main h1 {
  background        : #FFFFFF;
  background-repeat : no-repeat;
  font-size         : 160%;
  font-weight       : normal;
  color             : #E00000;
  margin            : 0px 0px 20px 0px;
}

#body p {
  margin: 14px 0px 10px 0px
}

#main h2 {
  font-size      : 130%;
  font-weight    : normal;
  margin         : 15px 0px 10px 0px;
  color          : #555555;
}

#main h3 {
  font-size   : 100%;
  color       : #000;
  margin      : 12px 0px 3px 0px;
	font-weight : bold;
  color       : #666;
}

#main h4 {
  font-size   : 100%;
  color       : #000;
  margin      : 10px 0px 0px 0px;
	font-weight : bold;
  color       : #666;
}

blockquote {
  margin   : 18px 0px 18px 0px;
  border   : 1px solid #E00000;
  padding  : 0px 20px 0px 20px;
}

pre {
  font-family   : Andale Mono, monospace;
}

code {
  white-space : pre;
  font-family   : Andale Mono, monospace;
}

/* Java Beispiele*/

.orange {
	  color         : #E77200;
}
.comment {
	  color         : #00AC00;
}
.red {
	  color         : #F51B00;
}
/* Code wird in anderer schrift dargestellt */
#main .docexample {
  color         : #000000;
  font-family   : Monospace, sans-serif;
  font-size     : 100%;
  margin		: 20px 20px 20px 20px;
	
}
.monospace {
  font-family   : Monospace, sans-serif;
  margin: 0;
}

/* Neu hinzugefügt - Box */
#main .box {background: #ffff80; margin-top: 10px;}
#main .box h4, .box p {margin: 0 10px;}
#main .box h4 {font-size:110%; color:#000;background: #ffff80; }
#main .box .top, .box .bottom{display:block;background: #fff;}
#main .box .top b, .box .bottom b
{
  display:block;height: 1px; overflow: hidden; background: #ffff80;
}
#main .box a {
	  color           : #E00000;
	  background      : #FFFFFF;
	  text-decoration : none;
	  background: #ffff80;
}

#main .box .r1{margin: 0 5px;}
#main .box .r2{margin: 0 3px;}
#main .box .r3{margin: 0 2px;}
#main .box .top .r4, .box .bottom .r4{margin: 0 1px;height: 2px;}


