<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <display-name>BaseX: The XML Database and XQuery Processor</display-name>
  <description>HTTP Services</description>

  <!-- The following parameters may also be passed on as system properties: -->

  <!-- Operation mode. By default, the value is "false": the servlets will
       work with a local database context. If "server" is specified, a database
       server instance will be started after the first call of a service. -->
  <context-param>
    <param-name>org.basex.server</param-name>
    <param-value>false</param-value>
  </context-param>

  <!-- Default login data: by default, no user and password is specified, and
       the credentials must be passed on by the client. Please check by yourself
       if it is safe to store credentials in this file. -->
  <context-param>
    <param-name>org.basex.user</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.password</param-name>
    <param-value></param-value>
  </context-param>

  <!-- All relative paths will be resolved against the webapp path. -->
  <context-param>
    <param-name>org.basex.restxqpath</param-name>
    <param-value>.</param-value>
  </context-param>
  <!--
  <context-param>
    <param-name>org.basex.dbpath</param-name>
    <param-value>WEB-INF/data</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.repopath</param-name>
    <param-value>WEB-INF/repo</param-value>
  </context-param>
  -->

  <!-- All database main options, which are usually stored in the .basex
       configuration file (HOST, PORT, TIMEOUT, etc.), can be specified by
       prefixing the key with "org.basex.".
  <context-param>
    <param-name>org.basex.timeout</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.log</param-name>
    <param-value>false</param-value>
  </context-param>
  -->

  <!--  Mapping for static resources (may be restricted to a sub path) -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!--  WebDAV Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>WebDAV</servlet-name>
    <servlet-class>org.basex.http.webdav.WebDAVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebDAV</servlet-name>
    <url-pattern>/webdav/*</url-pattern>
  </servlet-mapping>

  <!--  REST Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>REST</servlet-name>
    <servlet-class>org.basex.http.rest.RESTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>REST</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!--  RESTXQ Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>RESTXQ</servlet-name>
    <servlet-class>org.basex.http.restxq.RestXqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RESTXQ</servlet-name>
    <url-pattern>/restxq/*</url-pattern>
  </servlet-mapping>

  <!--  Direct association to queries and scripts -->
  <servlet>
    <servlet-name>Direct</servlet-name>
    <servlet-class>org.basex.http.direct.DirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Direct</servlet-name>
    <url-pattern>*.xq</url-pattern>
    <url-pattern>*.xql</url-pattern>
    <url-pattern>*.xqm</url-pattern>
    <url-pattern>*.xqu</url-pattern>
    <url-pattern>*.xquery</url-pattern>
    <url-pattern>*.bxs</url-pattern>
  </servlet-mapping>

</web-app>
