<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <display-name>BaseX HTTP Services</display-name>
  <description>BaseX HTTP Services</description>

  <!-- The following parameters may also be passed on as system properties: -->

  <!-- Operation mode: by default, the value is "local": the servlets will
       access and store data locally using ${org.basex.path}. If "client" is
       specified, all operations are performed on a remote server instance (the
       login data of which is stored in the .basex configuration file). -->
  <context-param>
    <param-name>org.basex.mode</param-name>
    <param-value>local</param-value>
  </context-param>

  <!-- Database user: by default, no value is specified, and the credentials
       must be specified by the client. Note that it is a clear security risk to
       store user credentials in this file. -->
  <context-param>
    <param-name>org.basex.user</param-name>
    <param-value></param-value>
  </context-param>

  <!-- Database password: by default, no value is specified, and the credentials
       must be specified by the client. Note that it is a clear security risk to
       store user credentials in this file. -->
  <context-param>
    <param-name>org.basex.password</param-name>
    <param-value></param-value>
  </context-param>

  <!-- All database main options (DBATH, HTTPPPATH, etc.) can be overwritten by
       adding additional context-param elements and prefixing the name with
       "org.basex.". Relative paths will be prefixed with the servlet path.
  <context-param>
    <param-name>org.basex.dbpath</param-name>
    <param-value>data</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.httppath</param-name>
    <param-value>http</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.repopath</param-name>
    <param-value>http</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.lang</param-name>
    <param-value>English</param-value>
  </context-param>
  -->

  <!--  WebDAV Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>WebDAV</servlet-name>
    <servlet-class>org.basex.http.webdav.WebDAVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebDAV</servlet-name>
    <url-pattern>/webdav/*</url-pattern>
  </servlet-mapping>

  <!--  REST Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>REST</servlet-name>
    <servlet-class>org.basex.http.rest.RESTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>REST</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!--  RESTXQ Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>RESTXQ</servlet-name>
    <servlet-class>org.basex.http.restxq.RestXqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RESTXQ</servlet-name>
    <url-pattern>/restxq/*</url-pattern>
  </servlet-mapping>

</web-app>
